body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #04d3d323;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.600);
    display: grid;                     /* Usar GRID */
    grid-template-columns: repeat(2, 2fr);  /* 2 COLUMNAS */
    gap: 30px;                         /* Espacio entre cards */
    justify-items: center;             /* Centrar los cards horizontalmente */
    align-items: start;                /* Alinearlos arriba */
    padding: 20px;
    border-radius: 5px;
}

.card {
    position: relative;
    width: 100%;
    height: 50%;
    /*border: 1px solid black;*/
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 0 8px #00000030;
}

.card input {
    width: 80%;
    padding: 5px;
}

.container label {
    flex-basis: 10px;
    text-align: center;
}
